# Usa una imagen base de Node.js
FROM node:18

# Establece el directorio de trabajo
WORKDIR /usr/src/app

# Copia el archivo package.json y package-lock.json
COPY package*.json ./

# Instala las dependencias
RUN npm install

# Copia el resto del código
COPY . .

# Compila el código TypeScript
RUN npm run build

# Exponemos el puerto en el que la función Lambda se ejecutará (por defecto es 8080)
EXPOSE 8080

# Comando para ejecutar la función Lambda
CMD ["dist/index.handler"]
